<!-- chat.html -->
<div class="template" id="chat">
  <h2>Chat Mistico :D</h2>
  <div id="chat-container">
    <!-- Aquí mostrarás los mensajes del chat dinámicamente -->
    <div class="own-message">
      <p>gabiota dice:</p>
      <p>discriminar esta bien</p>
    </div>
    <div>
      <p>jose luis dice:</p>
      <p>esta ok</p>
    </div>
  </div>
  <div id="chat-input">
    <input type="text" id="message" placeholder="Escribe un mensaje..." />
    <button id="send-button">Enviar</button>
  </div>
</div>
