<!-- friendsList.html -->
<div class="template" id="friendsList">
    <div id="profile-banner">
        <div id="profile-image">
            <img src="./assets/imgs/prueba1.png"></img>
        </div>
        <h2 id="user">Usuario</h2>
    </div>
    <div id="friends">
        <div id="contact-list">
            <h3 id="connected"><span class="toggle-icon">▲</span>Conectados</h3>
            <ul id="connected-list">
                
            </ul>
        
            <h3 id="disconnected"><span class="toggle-icon">▲</span>Desconectados</h3>
            <ul id="disconnected-list">
                
            </ul>
        </div>
    </div>
</div>